body{
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.container{
    width: 60%;
    height: 60%;
    background-color:rgb(255, 255, 255) ;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.container1 {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}

.container2{
    width: 100%;
    height: 70%;
}

.container3 {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 0.3rem;
    width: 100px;
    background-color: rgb(91, 144, 204);
    border-radius: 5px;
    border: 0;
    color: white;
    font-weight: bolder;
}

.BtnAzulColor{
    background-color: rgb(61, 209, 61) !important;
}

thead{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.TableContainer{
    width: 100%;
    font-size:15pt !important;
}

.TableContainer td, th {
    border:1px solid black;
}

td{
    background-color: white;
    color: black;
}

.Icone1{
    background-color: darkred;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.Icone2{
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.IconesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

@media (max-width: 768px){
    .container{
        width: 82%;
    }
}